In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
liga18 = pd.read_csv('data-18/SP1.csv', engine="python")

In [3]:
liga17 = pd.read_csv('data-17/SP1.csv', engine="python")

In [4]:
liga16 = pd.read_csv('data-16/SP1.csv', engine="python")

In [5]:
liga15 = pd.read_csv('data-15/SP1.csv', engine="python")

In [6]:
liga14 = pd.read_csv('data-14/SP1.csv', engine="python")

In [7]:
liga13 = pd.read_csv('data-13/SP1.csv', engine="python")

In [8]:
liga12 = pd.read_csv('data-12/SP1.csv', engine="python")

In [9]:
liga11 = pd.read_csv('data-11/SP1.csv', engine="python")

In [10]:
liga10 = pd.read_csv('data-10/SP1.csv', engine="python")

In [11]:
liga09 = pd.read_csv('data-09/SP1.csv', engine="python")

In [12]:
liga08 = pd.read_csv('data-08/SP1.csv', engine="python")

In [13]:
liga07 = pd.read_csv('data-07/SP1.csv', engine="python")

In [14]:
liga06 = pd.read_csv('data-06/SP1.csv', engine="python")

In [15]:
liga05 = pd.read_csv('data-05/SP1.csv', engine="python")

In [16]:
liga05_n = liga05[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga06_n = liga06[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga07_n = liga07[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga08_n = liga08[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga09_n = liga09[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga10_n = liga10[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga11_n = liga11[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga12_n = liga12[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga13_n = liga13[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga14_n = liga14[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga15_n = liga15[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga16_n = liga16[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga17_n = liga17[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]
liga18_n = liga18[['Date','HomeTeam', 'AwayTeam', 'B365H', 'B365D', 'B365A','BWH', 'BWD', 'BWA','IWH', 'IWD', 'IWA', 
                   'VCH', 'VCD', 'VCA', 'WHH', 'WHD', 'WHA', 'HTR', 'FTR']]

# LIGA 05

In [62]:
liga05_n.head()

,Date,HomeTeam,HomeValue,AwayTeam,AwayValue,B365H,B365D,B365A,BWH,BWD,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,27/08/05,Alaves,20950000,Barcelona,275230000,7.00,3.75,1.50,7.00,3.70,...,3.5,1.5,6.50,3.75,1.45,6.00,3.4,1.50,D,D
1,27/08/05,Ath Bilbao,38700000,Sociedad,46250000,2.00,3.25,3.25,1.95,3.15,...,3.0,3.6,NaN,NaN,NaN,1.90,3.0,3.75,D,H
2,27/08/05,Valencia,21090000,Betis,78100000,2.00,3.25,3.25,1.75,3.30,...,3.0,3.6,1.85,3.25,3.75,1.95,3.1,3.50,D,H
3,28/08/05,Ath Madrid,113700000,Zaragoza,52750000,1.72,3.40,4.00,1.65,3.40,...,3.1,4.4,1.65,3.40,4.50,1.70,3.2,4.50,D,D
4,28/08/05,Cadiz,1650000,Real Madrid,283750000,7.50,4.00,1.44,8.00,4.25,...,3.5,1.5,6.50,3.60,1.45,6.50,3.6,1.44,A,A

# HOME 05

In [21]:
HomeValue = pd.Series([]) # Create Serie to add market value HOME team
#Market Value Teams 2005
for i in range(len(liga05_n)):
    if liga05_n['HomeTeam'][i] == 'Alaves':
        HomeValue[i] = 20950000
    elif liga05_n['HomeTeam'][i] == 'Ath Bilbao':
        HomeValue[i] = 38700000
    elif liga05_n['HomeTeam'][i] == 'Valencia':
        HomeValue[i] = 21090000
    elif liga05_n['HomeTeam'][i] == 'Ath Madrid':
        HomeValue[i] = 113700000
    elif liga05_n['HomeTeam'][i] == 'Cadiz':
        HomeValue[i] = 1650000
    elif liga05_n['HomeTeam'][i] == 'Celta':
        HomeValue[i] = 36350000
    elif liga05_n['HomeTeam'][i] == 'Espanol':
        HomeValue[i] = 55500000
    elif liga05_n['HomeTeam'][i] == 'Mallorca':
        HomeValue[i] = 39900000
    elif liga05_n['HomeTeam'][i] == 'Osasuna':
        HomeValue[i] = 24000000
    elif liga05_n['HomeTeam'][i] == 'Sevilla':
        HomeValue[i] = 73250000
    elif liga05_n['HomeTeam'][i] == 'Betis':
        HomeValue[i] = 78100000
    elif liga05_n['HomeTeam'][i] == 'La Coruna':
        HomeValue[i] = 118700000
    elif liga05_n['HomeTeam'][i] == 'Real Madrid':
        HomeValue[i] = 283750000
    elif liga05_n['HomeTeam'][i] == 'Barcelona':
        HomeValue[i] = 275230000
    elif liga05_n['HomeTeam'][i] == 'Getafe':
        HomeValue[i] = 15950000
    elif liga05_n['HomeTeam'][i] == 'Santander':
        HomeValue[i] = 22850000
    elif liga05_n['HomeTeam'][i] == 'Malaga':
        HomeValue[i] = 21100000
    elif liga05_n['HomeTeam'][i] == 'Sociedad':
        HomeValue[i] = 46250000
    elif liga05_n['HomeTeam'][i] == 'Zaragoza':
        HomeValue[i] = 52750000
    elif liga05_n['HomeTeam'][i] == 'Villarreal':
        HomeValue[i] = 70000000

liga05_n.insert(2, "HomeValue", HomeValue) # Execute

In [ ]:
liga05_n.head(11) # Check it

# AWAY 05

In [55]:
AwayValue = pd.Series([]) #Create Serie to add market value AWAY team

for i in range(len(liga05_n)):
    if liga05_n['AwayTeam'][i] == 'Alaves':
        AwayValue[i] = 20950000
    elif liga05_n['AwayTeam'][i] == 'Ath Bilbao':
        AwayValue[i] = 38700000
    elif liga05_n['AwayTeam'][i] == 'Valencia':
        AwayValue[i] = 21090000
    elif liga05_n['AwayTeam'][i] == 'Ath Madrid':
        AwayValue[i] = 113700000
    elif liga05_n['AwayTeam'][i] == 'Cadiz':
        AwayValue[i] = 1650000
    elif liga05_n['AwayTeam'][i] == 'Celta':
        AwayValue[i] = 36350000
    elif liga05_n['AwayTeam'][i] == 'Espanol':
        AwayValue[i] = 55500000
    elif liga05_n['AwayTeam'][i] == 'Mallorca':
        AwayValue[i] = 39900000
    elif liga05_n['AwayTeam'][i] == 'Osasuna':
        AwayValue[i] = 24000000
    elif liga05_n['AwayTeam'][i] == 'Sevilla':
        AwayValue[i] = 73250000
    elif liga05_n['AwayTeam'][i] == 'Betis':
        AwayValue[i] = 78100000
    elif liga05_n['AwayTeam'][i] == 'La Coruna':
        AwayValue[i] = 118700000
    elif liga05_n['AwayTeam'][i] == 'Real Madrid':
        AwayValue[i] = 283750000
    elif liga05_n['AwayTeam'][i] == 'Barcelona':
        AwayValue[i] = 275230000
    elif liga05_n['AwayTeam'][i] == 'Getafe':
        AwayValue[i] = 15950000
    elif liga05_n['AwayTeam'][i] == 'Santander':
        AwayValue[i] = 22850000
    elif liga05_n['AwayTeam'][i] == 'Malaga':
        AwayValue[i] = 21100000
    elif liga05_n['AwayTeam'][i] == 'Sociedad':
        AwayValue[i] = 46250000
    elif liga05_n['AwayTeam'][i] == 'Zaragoza':
        AwayValue[i] = 52750000
    elif liga05_n['AwayTeam'][i] == 'Villarreal':
        AwayValue[i] = 70000000
liga05_n.insert(4, "AwayValue", AwayValue) # Execute

In [61]:
liga05_n.head(11) # Check it

,Date,HomeTeam,HomeValue,AwayTeam,AwayValue,B365H,B365D,B365A,BWH,BWD,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,27/08/05,Alaves,20950000,Barcelona,275230000,7.00,3.75,1.50,7.00,3.70,...,3.5,1.5,6.50,3.75,1.45,6.00,3.4,1.50,D,D
1,27/08/05,Ath Bilbao,38700000,Sociedad,46250000,2.00,3.25,3.25,1.95,3.15,...,3.0,3.6,NaN,NaN,NaN,1.90,3.0,3.75,D,H
2,27/08/05,Valencia,21090000,Betis,78100000,2.00,3.25,3.25,1.75,3.30,...,3.0,3.6,1.85,3.25,3.75,1.95,3.1,3.50,D,H
3,28/08/05,Ath Madrid,113700000,Zaragoza,52750000,1.72,3.40,4.00,1.65,3.40,...,3.1,4.4,1.65,3.40,4.50,1.70,3.2,4.50,D,D
4,28/08/05,Cadiz,1650000,Real Madrid,283750000,7.50,4.00,1.44,8.00,4.25,...,3.5,1.5,6.50,3.60,1.45,6.50,3.6,1.44,A,A
5,28/08/05,Celta,36350000,Malaga,21100000,2.10,3.25,3.00,2.10,3.10,...,2.9,3.2,2.00,3.20,3.25,2.15,3.1,3.00,H,H
6,28/08/05,Espanol,55500000,Getafe,15950000,1.61,3.40,5.00,1.65,3.50,...,3.1,4.4,1.60,3.30,5.00,1.66,3.3,4.50,D,A
7,28/08/05,Mallorca,39900000,La Coruna,118700000,2.70,3.20,2.30,2.65,3.10,...,3.0,2.7,2.50,3.10,2.50,2.37,3.1,2.62,A,A
8,28/08/05,Osasuna,24000000,Villarreal,70000000,2.70,3.20,2.30,2.70,3.15,...,3.0,2.5,2.90,3.00,2.25,2.75,3.2,2.25,H,H
9,28/08/05,Sevilla,73250000,Santander,22850000,1.66,3.40,4.50,1.65,3.50,...,3.3,4.8,1.60,3.30,5.00,1.57,3.3,5.50,H,H

# LIGA 06

In [27]:
liga06_n.head(1)

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,26/08/06,Valencia,Betis,1.57,3.60,6.00,1.60,3.50,5.25,1.60,3.4,5.20,1.55,3.25,5.50,1.61,3.3,5.00,H,H
1,27/08/06,Ath Bilbao,Sociedad,2.00,3.20,3.75,1.95,3.20,3.60,2.00,3.0,3.60,1.90,3.20,3.40,1.90,3.1,3.60,H,D
2,27/08/06,Espanol,Gimnastic,1.72,3.40,5.00,1.70,3.40,4.55,1.75,3.3,4.20,1.65,3.25,4.50,1.80,3.1,4.00,D,A
3,27/08/06,La Coruna,Zaragoza,2.00,3.20,3.75,1.95,3.25,3.55,2.00,3.2,3.00,1.90,3.20,3.50,2.05,3.1,3.20,H,H
4,27/08/06,Osasuna,Getafe,1.83,3.30,4.33,1.85,3.35,3.80,1.85,3.2,3.80,1.75,3.20,4.35,1.83,3.2,3.75,D,A
5,27/08/06,Real Madrid,Villarreal,1.53,3.80,6.00,1.50,3.85,5.75,1.55,3.5,5.50,1.45,3.60,6.50,1.50,3.4,6.00,D,D
6,27/08/06,Recreativo,Mallorca,2.30,3.25,3.00,2.20,3.20,3.00,2.20,3.0,3.10,2.25,3.10,2.80,2.25,3.1,2.80,D,D
7,27/08/06,Santander,Ath Madrid,3.10,3.20,2.25,3.00,3.20,2.20,2.90,3.0,2.30,2.75,3.10,2.25,2.80,3.1,2.25,A,A
8,28/08/06,Celta,Barcelona,5.50,3.40,1.67,5.00,3.60,1.60,4.20,3.3,1.75,5.00,3.25,1.60,4.50,3.2,1.70,H,A
9,29/08/06,Sevilla,Levante,1.44,4.00,7.50,1.45,3.75,7.00,1.55,3.5,5.50,1.50,3.60,5.50,1.44,3.6,6.50,H,H
10,09/09/06,Ath Madrid,Valencia,2.40,3.20,2.87,2.30,3.20,2.80,2.40,2.8,3.00,2.35,3.00,2.70,2.37,3.0,2.70,A,A
11,09/09/06,Barcelona,Osasuna,1.28,5.00,10.00,1.30,4.65,8.50,1.33,4.2,8.00,1.25,5.00,8.50,1.28,4.5,8.00,H,H
12,10/09/06,Betis,Ath Bilbao,2.00,3.30,3.60,1.95,3.30,3.50,2.00,3.1,3.40,2.00,3.20,3.25,2.10,3.0,3.20,H,H
13,10/09/06,Getafe,Santander,1.83,3.30,4.33,1.75,3.40,4.30,1.80,3.1,4.20,1.85,3.20,3.75,1.83,3.0,4.00,D,H
14,10/09/06,Gimnastic,Celta,2.60,3.20,2.62,2.70,3.20,2.40,2.60,3.0,2.60,2.50,3.10,2.50,2.50,3.1,2.50,D,A
15,10/09/06,Levante,Real Madrid,7.00,3.75,1.50,7.50,4.35,1.35,6.30,3.5,1.50,6.50,3.60,1.45,6.00,3.4,1.50,A,A
16,10/09/06,Mallorca,La Coruna,2.50,3.10,2.80,2.50,3.15,2.60,2.50,2.9,2.80,2.40,3.10,2.60,2.50,3.1,2.50,D,D
17,10/09/06,Sociedad,Sevilla,3.10,3.10,2.30,2.95,3.25,2.20,2.90,2.9,2.40,2.80,3.10,2.25,2.80,3.1,2.25,A,A
18,10/09/06,Villarreal,Recreativo,1.50,3.75,7.00,1.45,3.75,6.75,1.55,3.5,5.50,1.45,3.60,6.50,1.44,3.6,6.50,D,A
19,10/09/06,Zaragoza,Espanol,1.72,3.30,5.00,1.75,3.30,4.35,1.80,3.1,4.20,1.70,3.25,4.50,1.80,3.1,4.00,H,H

# HOME 06

In [57]:
HomeValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2006
for i in range(len(liga06_n)):
    if liga06_n['HomeTeam'][i] == 'Gimnastic':
        HomeValue[i] = 22600000
    elif liga06_n['HomeTeam'][i] == 'Ath Bilbao':
        HomeValue[i] = 43650000
    elif liga06_n['HomeTeam'][i] == 'Valencia':
        HomeValue[i] = 199650000
    elif liga06_n['HomeTeam'][i] == 'Ath Madrid':
        HomeValue[i] = 155830000
    elif liga06_n['HomeTeam'][i] == 'Levante':
        HomeValue[i] = 58550000
    elif liga06_n['HomeTeam'][i] == 'Celta':
        HomeValue[i] = 46950000
    elif liga06_n['HomeTeam'][i] == 'Espanol':
        HomeValue[i] = 59850000
    elif liga06_n['HomeTeam'][i] == 'Mallorca':
        HomeValue[i] = 57300000
    elif liga06_n['HomeTeam'][i] == 'Osasuna':
        HomeValue[i] = 46200000
    elif liga06_n['HomeTeam'][i] == 'Sevilla':
        HomeValue[i] = 86450000
    elif liga06_n['HomeTeam'][i] == 'Betis':
        HomeValue[i] = 67500000
    elif liga06_n['HomeTeam'][i] == 'La Coruna':
        HomeValue[i] = 92000000
    elif liga06_n['HomeTeam'][i] == 'Real Madrid':
        HomeValue[i] = 323000000
    elif liga06_n['HomeTeam'][i] == 'Barcelona':
        HomeValue[i] = 354900000
    elif liga06_n['HomeTeam'][i] == 'Getafe':
        HomeValue[i] = 21780000
    elif liga06_n['HomeTeam'][i] == 'Santander':
        HomeValue[i] = 39280000
    elif liga06_n['HomeTeam'][i] == 'Recreativo':
        HomeValue[i] = 22200000
    elif liga06_n['HomeTeam'][i] == 'Sociedad':
        HomeValue[i] = 41980000
    elif liga06_n['HomeTeam'][i] == 'Zaragoza':
        HomeValue[i] = 81000000
    elif liga06_n['HomeTeam'][i] == 'Villarreal':
        HomeValue[i] = 98850000

liga06_n.insert(2, "HomeValue", HomeValue) # Execute

ValueError: cannot insert HomeValue, already exists

In [59]:
#liga06_n.drop(['AwayValue'], axis=1, inplace=True)

In [60]:
liga06_n.head()

,Date,HomeTeam,HomeValue,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,26/08/06,Valencia,199650000,Betis,1.57,3.6,6.00,1.60,3.50,5.25,...,3.4,5.2,1.55,3.25,5.50,1.61,3.3,5.00,H,H
1,27/08/06,Ath Bilbao,43650000,Sociedad,2.00,3.2,3.75,1.95,3.20,3.60,...,3.0,3.6,1.90,3.20,3.40,1.90,3.1,3.60,H,D
2,27/08/06,Espanol,59850000,Gimnastic,1.72,3.4,5.00,1.70,3.40,4.55,...,3.3,4.2,1.65,3.25,4.50,1.80,3.1,4.00,D,A
3,27/08/06,La Coruna,92000000,Zaragoza,2.00,3.2,3.75,1.95,3.25,3.55,...,3.2,3.0,1.90,3.20,3.50,2.05,3.1,3.20,H,H
4,27/08/06,Osasuna,46200000,Getafe,1.83,3.3,4.33,1.85,3.35,3.80,...,3.2,3.8,1.75,3.20,4.35,1.83,3.2,3.75,D,A

# AWAY 06

In [64]:
AwayValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2006
for i in range(len(liga06_n)):
    if liga06_n['AwayTeam'][i] == 'Gimnastic':
        AwayValue[i] = 22600000
    elif liga06_n['AwayTeam'][i] == 'Ath Bilbao':
        AwayValue[i] = 43650000
    elif liga06_n['AwayTeam'][i] == 'Valencia':
        AwayValue[i] = 199650000
    elif liga06_n['AwayTeam'][i] == 'Ath Madrid':
        AwayValue[i] = 155830000
    elif liga06_n['AwayTeam'][i] == 'Levante':
        AwayValue[i] = 58550000
    elif liga06_n['AwayTeam'][i] == 'Celta':
        AwayValue[i] = 46950000
    elif liga06_n['AwayTeam'][i] == 'Espanol':
        AwayValue[i] = 59850000
    elif liga06_n['AwayTeam'][i] == 'Mallorca':
        AwayValue[i] = 57300000
    elif liga06_n['AwayTeam'][i] == 'Osasuna':
        AwayValue[i] = 46200000
    elif liga06_n['AwayTeam'][i] == 'Sevilla':
        AwayValue[i] = 86450000
    elif liga06_n['AwayTeam'][i] == 'Betis':
        AwayValue[i] = 67500000
    elif liga06_n['AwayTeam'][i] == 'La Coruna':
        AwayValue[i] = 92000000
    elif liga06_n['AwayTeam'][i] == 'Real Madrid':
        AwayValue[i] = 323000000
    elif liga06_n['AwayTeam'][i] == 'Barcelona':
        AwayValue[i] = 354900000
    elif liga06_n['AwayTeam'][i] == 'Getafe':
        AwayValue[i] = 21780000
    elif liga06_n['AwayTeam'][i] == 'Santander':
        AwayValue[i] = 39280000
    elif liga06_n['AwayTeam'][i] == 'Recreativo':
        AwayValue[i] = 22200000
    elif liga06_n['AwayTeam'][i] == 'Sociedad':
        AwayValue[i] = 41980000
    elif liga06_n['AwayTeam'][i] == 'Zaragoza':
        AwayValue[i] = 81000000
    elif liga06_n['AwayTeam'][i] == 'Villarreal':
        AwayValue[i] = 98850000

liga06_n.insert(4, "AwayValue", AwayValue) # Execute

In [66]:
liga06_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,AwayValue,B365H,B365D,B365A,BWH,BWD,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,26/08/06,Valencia,199650000,Betis,67500000,1.57,3.60,6.00,1.60,3.50,...,3.4,5.20,1.55,3.25,5.50,1.61,3.3,5.00,H,H
1,27/08/06,Ath Bilbao,43650000,Sociedad,41980000,2.00,3.20,3.75,1.95,3.20,...,3.0,3.60,1.90,3.20,3.40,1.90,3.1,3.60,H,D
2,27/08/06,Espanol,59850000,Gimnastic,22600000,1.72,3.40,5.00,1.70,3.40,...,3.3,4.20,1.65,3.25,4.50,1.80,3.1,4.00,D,A
3,27/08/06,La Coruna,92000000,Zaragoza,81000000,2.00,3.20,3.75,1.95,3.25,...,3.2,3.00,1.90,3.20,3.50,2.05,3.1,3.20,H,H
4,27/08/06,Osasuna,46200000,Getafe,21780000,1.83,3.30,4.33,1.85,3.35,...,3.2,3.80,1.75,3.20,4.35,1.83,3.2,3.75,D,A
5,27/08/06,Real Madrid,323000000,Villarreal,98850000,1.53,3.80,6.00,1.50,3.85,...,3.5,5.50,1.45,3.60,6.50,1.50,3.4,6.00,D,D
6,27/08/06,Recreativo,22200000,Mallorca,57300000,2.30,3.25,3.00,2.20,3.20,...,3.0,3.10,2.25,3.10,2.80,2.25,3.1,2.80,D,D
7,27/08/06,Santander,39280000,Ath Madrid,155830000,3.10,3.20,2.25,3.00,3.20,...,3.0,2.30,2.75,3.10,2.25,2.80,3.1,2.25,A,A
8,28/08/06,Celta,46950000,Barcelona,354900000,5.50,3.40,1.67,5.00,3.60,...,3.3,1.75,5.00,3.25,1.60,4.50,3.2,1.70,H,A
9,29/08/06,Sevilla,86450000,Levante,58550000,1.44,4.00,7.50,1.45,3.75,...,3.5,5.50,1.50,3.60,5.50,1.44,3.6,6.50,H,H
10,09/09/06,Ath Madrid,155830000,Valencia,199650000,2.40,3.20,2.87,2.30,3.20,...,2.8,3.00,2.35,3.00,2.70,2.37,3.0,2.70,A,A

# LIGA 07

In [70]:
liga07_n.head(11)

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,25/08/07,Real Madrid,Ath Madrid,1.72,3.50,4.75,1.75,3.45,4.20,1.70,3.4,4.3,1.65,3.25,5.00,NaN,NaN,NaN,D,H
1,25/08/07,Sevilla,Getafe,1.40,4.00,9.00,1.40,4.00,7.25,1.40,3.7,7.5,1.45,3.40,7.50,NaN,NaN,NaN,A,H
2,26/08/07,Ath Bilbao,Osasuna,2.05,3.20,3.60,1.90,3.20,3.80,2.10,2.9,3.4,2.00,3.20,3.40,NaN,NaN,NaN,D,D
3,26/08/07,Espanol,Valladolid,1.83,3.25,4.50,1.70,3.30,4.80,1.70,3.3,4.5,1.84,3.10,4.00,NaN,NaN,NaN,D,A
4,26/08/07,La Coruna,Almeria,1.72,3.40,5.00,1.55,3.65,5.50,1.60,3.5,5.0,1.65,3.25,5.00,NaN,NaN,NaN,A,A
5,26/08/07,Mallorca,Levante,1.90,3.10,4.33,1.80,3.20,4.30,1.85,3.1,4.0,1.80,3.20,4.00,NaN,NaN,NaN,H,H
6,26/08/07,Murcia,Zaragoza,3.40,3.20,2.15,3.45,3.20,2.00,3.10,3.0,2.2,3.20,3.10,2.10,NaN,NaN,NaN,D,H
7,26/08/07,Recreativo,Betis,2.20,3.20,3.25,2.20,3.20,3.00,2.20,3.0,3.1,2.25,3.10,2.90,NaN,NaN,NaN,D,D
8,26/08/07,Santander,Barcelona,7.50,4.00,1.44,6.50,3.85,1.45,6.00,3.6,1.5,7.50,3.40,1.45,NaN,NaN,NaN,D,D
9,26/08/07,Valencia,Villarreal,1.72,3.40,5.00,1.65,3.40,5.00,1.75,3.2,4.3,1.70,3.30,4.50,NaN,NaN,NaN,A,A
10,01/09/07,Levante,Murcia,2.20,3.20,3.25,2.00,3.25,3.40,2.10,3.1,3.2,2.00,3.20,3.30,NaN,NaN,NaN,D,D

# HOME 07

In [71]:
HomeValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2007
for i in range(len(liga07_n)):
    if liga07_n['HomeTeam'][i] == 'Murcia':
        HomeValue[i] = 24630000
    elif liga07_n['HomeTeam'][i] == 'Ath Bilbao':
        HomeValue[i] = 64180000
    elif liga07_n['HomeTeam'][i] == 'Valencia':
        HomeValue[i] = 237200000
    elif liga07_n['HomeTeam'][i] == 'Ath Madrid':
        HomeValue[i] = 183000000
    elif liga07_n['HomeTeam'][i] == 'Levante':
        HomeValue[i] = 39000000
    elif liga07_n['HomeTeam'][i] == 'Valladolid':
        HomeValue[i] = 16080000
    elif liga07_n['HomeTeam'][i] == 'Espanol':
        HomeValue[i] = 62700000
    elif liga07_n['HomeTeam'][i] == 'Mallorca':
        HomeValue[i] = 42000000
    elif liga07_n['HomeTeam'][i] == 'Osasuna':
        HomeValue[i] = 64550000
    elif liga07_n['HomeTeam'][i] == 'Sevilla':
        HomeValue[i] = 172300000
    elif liga07_n['HomeTeam'][i] == 'Betis':
        HomeValue[i] = 73230000
    elif liga07_n['HomeTeam'][i] == 'La Coruna':
        HomeValue[i] = 69900000
    elif liga07_n['HomeTeam'][i] == 'Real Madrid':
        HomeValue[i] = 339460000
    elif liga07_n['HomeTeam'][i] == 'Barcelona':
        HomeValue[i] = 402200000
    elif liga07_n['HomeTeam'][i] == 'Getafe':
        HomeValue[i] = 45950000
    elif liga07_n['HomeTeam'][i] == 'Santander':
        HomeValue[i] = 43150000
    elif liga07_n['HomeTeam'][i] == 'Recreativo':
        HomeValue[i] = 39900000
    elif liga07_n['HomeTeam'][i] == 'Almeria':
        HomeValue[i] = 17750000
    elif liga07_n['HomeTeam'][i] == 'Zaragoza':
        HomeValue[i] = 121250000
    elif liga07_n['HomeTeam'][i] == 'Villarreal':
        HomeValue[i] = 108930000

liga07_n.insert(2, "HomeValue", HomeValue) # Execute

In [72]:
liga07_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,25/08/07,Real Madrid,339460000,Ath Madrid,1.72,3.50,4.75,1.75,3.45,4.20,...,3.4,4.3,1.65,3.25,5.00,NaN,NaN,NaN,D,H
1,25/08/07,Sevilla,172300000,Getafe,1.40,4.00,9.00,1.40,4.00,7.25,...,3.7,7.5,1.45,3.40,7.50,NaN,NaN,NaN,A,H
2,26/08/07,Ath Bilbao,64180000,Osasuna,2.05,3.20,3.60,1.90,3.20,3.80,...,2.9,3.4,2.00,3.20,3.40,NaN,NaN,NaN,D,D
3,26/08/07,Espanol,62700000,Valladolid,1.83,3.25,4.50,1.70,3.30,4.80,...,3.3,4.5,1.84,3.10,4.00,NaN,NaN,NaN,D,A
4,26/08/07,La Coruna,69900000,Almeria,1.72,3.40,5.00,1.55,3.65,5.50,...,3.5,5.0,1.65,3.25,5.00,NaN,NaN,NaN,A,A
5,26/08/07,Mallorca,42000000,Levante,1.90,3.10,4.33,1.80,3.20,4.30,...,3.1,4.0,1.80,3.20,4.00,NaN,NaN,NaN,H,H
6,26/08/07,Murcia,24630000,Zaragoza,3.40,3.20,2.15,3.45,3.20,2.00,...,3.0,2.2,3.20,3.10,2.10,NaN,NaN,NaN,D,H
7,26/08/07,Recreativo,39900000,Betis,2.20,3.20,3.25,2.20,3.20,3.00,...,3.0,3.1,2.25,3.10,2.90,NaN,NaN,NaN,D,D
8,26/08/07,Santander,43150000,Barcelona,7.50,4.00,1.44,6.50,3.85,1.45,...,3.6,1.5,7.50,3.40,1.45,NaN,NaN,NaN,D,D
9,26/08/07,Valencia,237200000,Villarreal,1.72,3.40,5.00,1.65,3.40,5.00,...,3.2,4.3,1.70,3.30,4.50,NaN,NaN,NaN,A,A
10,01/09/07,Levante,39000000,Murcia,2.20,3.20,3.25,2.00,3.25,3.40,...,3.1,3.2,2.00,3.20,3.30,NaN,NaN,NaN,D,D

# AWAY 07

In [74]:
AwayValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2007
for i in range(len(liga07_n)):
    if liga07_n['AwayTeam'][i] == 'Murcia':
        AwayValue[i] = 24630000
    elif liga07_n['AwayTeam'][i] == 'Ath Bilbao':
        AwayValue[i] = 64180000
    elif liga07_n['AwayTeam'][i] == 'Valencia':
        AwayValue[i] = 237200000
    elif liga07_n['AwayTeam'][i] == 'Ath Madrid':
        AwayValue[i] = 183000000
    elif liga07_n['AwayTeam'][i] == 'Levante':
        AwayValue[i] = 39000000
    elif liga07_n['AwayTeam'][i] == 'Valladolid':
        AwayValue[i] = 16080000
    elif liga07_n['AwayTeam'][i] == 'Espanol':
        AwayValue[i] = 62700000
    elif liga07_n['AwayTeam'][i] == 'Mallorca':
        AwayValue[i] = 42000000
    elif liga07_n['AwayTeam'][i] == 'Osasuna':
        AwayValue[i] = 64550000
    elif liga07_n['AwayTeam'][i] == 'Sevilla':
        AwayValue[i] = 172300000
    elif liga07_n['AwayTeam'][i] == 'Betis':
        AwayValue[i] = 73230000
    elif liga07_n['AwayTeam'][i] == 'La Coruna':
        AwayValue[i] = 69900000
    elif liga07_n['AwayTeam'][i] == 'Real Madrid':
        AwayValue[i] = 339460000
    elif liga07_n['AwayTeam'][i] == 'Barcelona':
        AwayValue[i] = 402200000
    elif liga07_n['AwayTeam'][i] == 'Getafe':
        AwayValue[i] = 45950000
    elif liga07_n['AwayTeam'][i] == 'Santander':
        AwayValue[i] = 43150000
    elif liga07_n['AwayTeam'][i] == 'Recreativo':
        AwayValue[i] = 39900000
    elif liga07_n['AwayTeam'][i] == 'Almeria':
        AwayValue[i] = 17750000
    elif liga07_n['AwayTeam'][i] == 'Zaragoza':
        AwayValue[i] = 121250000
    elif liga07_n['AwayTeam'][i] == 'Villarreal':
        AwayValue[i] = 108930000

liga07_n.insert(4, "AwayValue", AwayValue) # Execute

In [75]:
liga07_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,AwayValue,B365H,B365D,B365A,BWH,BWD,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,25/08/07,Real Madrid,339460000,Ath Madrid,183000000,1.72,3.50,4.75,1.75,3.45,...,3.4,4.3,1.65,3.25,5.00,NaN,NaN,NaN,D,H
1,25/08/07,Sevilla,172300000,Getafe,45950000,1.40,4.00,9.00,1.40,4.00,...,3.7,7.5,1.45,3.40,7.50,NaN,NaN,NaN,A,H
2,26/08/07,Ath Bilbao,64180000,Osasuna,64550000,2.05,3.20,3.60,1.90,3.20,...,2.9,3.4,2.00,3.20,3.40,NaN,NaN,NaN,D,D
3,26/08/07,Espanol,62700000,Valladolid,16080000,1.83,3.25,4.50,1.70,3.30,...,3.3,4.5,1.84,3.10,4.00,NaN,NaN,NaN,D,A
4,26/08/07,La Coruna,69900000,Almeria,17750000,1.72,3.40,5.00,1.55,3.65,...,3.5,5.0,1.65,3.25,5.00,NaN,NaN,NaN,A,A
5,26/08/07,Mallorca,42000000,Levante,39000000,1.90,3.10,4.33,1.80,3.20,...,3.1,4.0,1.80,3.20,4.00,NaN,NaN,NaN,H,H
6,26/08/07,Murcia,24630000,Zaragoza,121250000,3.40,3.20,2.15,3.45,3.20,...,3.0,2.2,3.20,3.10,2.10,NaN,NaN,NaN,D,H
7,26/08/07,Recreativo,39900000,Betis,73230000,2.20,3.20,3.25,2.20,3.20,...,3.0,3.1,2.25,3.10,2.90,NaN,NaN,NaN,D,D
8,26/08/07,Santander,43150000,Barcelona,402200000,7.50,4.00,1.44,6.50,3.85,...,3.6,1.5,7.50,3.40,1.45,NaN,NaN,NaN,D,D
9,26/08/07,Valencia,237200000,Villarreal,108930000,1.72,3.40,5.00,1.65,3.40,...,3.2,4.3,1.70,3.30,4.50,NaN,NaN,NaN,A,A
10,01/09/07,Levante,39000000,Murcia,24630000,2.20,3.20,3.25,2.00,3.25,...,3.1,3.2,2.00,3.20,3.30,NaN,NaN,NaN,D,D

# LIGA 08

In [78]:
liga08_n.head(10)

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,30/08/08,Espanol,Valladolid,2.00,3.30,3.80,1.80,3.25,4.10,1.75,3.2,4.30,1.90,3.25,3.50,1.83,3.20,3.75,D,H
1,30/08/08,Valencia,Mallorca,1.70,3.60,5.25,1.65,3.35,5.00,1.70,3.3,4.50,1.65,3.40,4.50,1.67,3.30,4.50,H,H
2,31/08/08,Ath Bilbao,Almeria,2.00,3.30,3.80,1.90,3.20,3.80,2.00,3.0,3.60,1.90,3.20,3.60,1.91,3.20,3.50,A,A
3,31/08/08,Ath Madrid,Malaga,1.44,4.20,7.50,1.40,3.80,7.95,1.45,3.6,7.00,1.45,3.75,7.00,1.40,3.75,7.00,H,H
4,31/08/08,Betis,Recreativo,2.00,3.25,3.80,1.75,3.30,4.40,1.90,3.1,3.80,1.75,3.25,4.35,1.80,3.25,3.80,A,A
5,31/08/08,La Coruna,Real Madrid,3.50,3.30,2.10,3.90,3.25,1.85,3.20,3.1,2.10,3.25,3.25,2.00,3.30,3.25,1.95,H,H
6,31/08/08,Numancia,Barcelona,7.00,4.00,1.50,6.45,3.55,1.50,6.00,3.6,1.50,7.00,3.75,1.45,7.00,3.75,1.40,H,H
7,31/08/08,Osasuna,Villarreal,2.80,3.30,2.50,2.90,3.25,2.20,2.80,3.1,2.30,2.90,3.20,2.25,2.62,3.20,2.30,D,D
8,31/08/08,Santander,Sevilla,2.80,3.30,2.50,2.65,3.25,2.40,2.55,3.1,2.55,2.70,3.10,2.40,2.75,3.20,2.25,D,D
9,31/08/08,Sp Gijon,Getafe,2.62,3.30,2.62,2.60,3.15,2.50,2.40,3.0,2.80,2.50,3.10,2.65,2.40,3.10,2.60,D,A

# HOME 08

In [89]:
HomeValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2008
for i in range(len(liga08_n)):
    if liga08_n['HomeTeam'][i] == 'Malaga':
        HomeValue[i] = 39650000
    elif liga08_n['HomeTeam'][i] == 'Ath Bilbao':
        HomeValue[i] = 59900000
    elif liga08_n['HomeTeam'][i] == 'Valencia':
        HomeValue[i] = 19850000
    elif liga08_n['HomeTeam'][i] == 'Ath Madrid':
        HomeValue[i] = 19380000
    elif liga08_n['HomeTeam'][i] == 'Numancia':
        HomeValue[i] = 28600000
    elif liga08_n['HomeTeam'][i] == 'Valladolid':
        HomeValue[i] = 44400000
    elif liga08_n['HomeTeam'][i] == 'Espanol':
        HomeValue[i] = 111700000
    elif liga08_n['HomeTeam'][i] == 'Mallorca':
        HomeValue[i] = 64700000
    elif liga08_n['HomeTeam'][i] == 'Osasuna':
        HomeValue[i] = 67850000
    elif liga08_n['HomeTeam'][i] == 'Sevilla':
        HomeValue[i] = 170100000
    elif liga08_n['HomeTeam'][i] == 'Betis':
        HomeValue[i] = 93100000
    elif liga08_n['HomeTeam'][i] == 'La Coruna':
        HomeValue[i] = 62800000
    elif liga08_n['HomeTeam'][i] == 'Real Madrid':
        HomeValue[i] = 361300000
    elif liga08_n['HomeTeam'][i] == 'Barcelona':
        HomeValue[i] = 367300000
    elif liga08_n['HomeTeam'][i] == 'Getafe':
        HomeValue[i] = 62700000
    elif liga08_n['HomeTeam'][i] == 'Santander':
        HomeValue[i] = 66900000
    elif liga08_n['HomeTeam'][i] == 'Recreativo':
        HomeValue[i] = 46680000
    elif liga08_n['HomeTeam'][i] == 'Almeria':
        HomeValue[i] = 59350000
    elif liga08_n['HomeTeam'][i] == 'Sp Gijon':
        HomeValue[i] = 19700000
    elif liga08_n['HomeTeam'][i] == 'Villarreal':
        HomeValue[i] = 131300000

liga08_n.insert(2, "HomeValue", HomeValue) # Execute

In [90]:
liga08_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,30/08/08,Espanol,111700000,Valladolid,2.00,3.30,3.80,1.80,3.25,4.10,...,3.2,4.30,1.90,3.25,3.50,1.83,3.20,3.75,D,H
1,30/08/08,Valencia,19850000,Mallorca,1.70,3.60,5.25,1.65,3.35,5.00,...,3.3,4.50,1.65,3.40,4.50,1.67,3.30,4.50,H,H
2,31/08/08,Ath Bilbao,59900000,Almeria,2.00,3.30,3.80,1.90,3.20,3.80,...,3.0,3.60,1.90,3.20,3.60,1.91,3.20,3.50,A,A
3,31/08/08,Ath Madrid,19380000,Malaga,1.44,4.20,7.50,1.40,3.80,7.95,...,3.6,7.00,1.45,3.75,7.00,1.40,3.75,7.00,H,H
4,31/08/08,Betis,93100000,Recreativo,2.00,3.25,3.80,1.75,3.30,4.40,...,3.1,3.80,1.75,3.25,4.35,1.80,3.25,3.80,A,A
5,31/08/08,La Coruna,62800000,Real Madrid,3.50,3.30,2.10,3.90,3.25,1.85,...,3.1,2.10,3.25,3.25,2.00,3.30,3.25,1.95,H,H
6,31/08/08,Numancia,28600000,Barcelona,7.00,4.00,1.50,6.45,3.55,1.50,...,3.6,1.50,7.00,3.75,1.45,7.00,3.75,1.40,H,H
7,31/08/08,Osasuna,67850000,Villarreal,2.80,3.30,2.50,2.90,3.25,2.20,...,3.1,2.30,2.90,3.20,2.25,2.62,3.20,2.30,D,D
8,31/08/08,Santander,66900000,Sevilla,2.80,3.30,2.50,2.65,3.25,2.40,...,3.1,2.55,2.70,3.10,2.40,2.75,3.20,2.25,D,D
9,31/08/08,Sp Gijon,19700000,Getafe,2.62,3.30,2.62,2.60,3.15,2.50,...,3.0,2.80,2.50,3.10,2.65,2.40,3.10,2.60,D,A
10,13/09/08,Barcelona,367300000,Santander,1.29,5.00,12.00,1.28,4.40,10.50,...,4.6,9.00,1.29,5.00,9.00,1.29,4.50,8.00,D,D

# AWAY 08

In [91]:
AwayValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2008
for i in range(len(liga08_n)):
    if liga08_n['AwayTeam'][i] == 'Malaga':
        AwayValue[i] = 39650000
    elif liga08_n['AwayTeam'][i] == 'Ath Bilbao':
        AwayValue[i] = 59900000
    elif liga08_n['AwayTeam'][i] == 'Valencia':
        AwayValue[i] = 19850000
    elif liga08_n['AwayTeam'][i] == 'Ath Madrid':
        AwayValue[i] = 19380000
    elif liga08_n['AwayTeam'][i] == 'Numancia':
        AwayValue[i] = 28600000
    elif liga08_n['AwayTeam'][i] == 'Valladolid':
        AwayValue[i] = 44400000
    elif liga08_n['AwayTeam'][i] == 'Espanol':
        AwayValue[i] = 111700000
    elif liga08_n['AwayTeam'][i] == 'Mallorca':
        AwayValue[i] = 64700000
    elif liga08_n['AwayTeam'][i] == 'Osasuna':
        AwayValue[i] = 67850000
    elif liga08_n['AwayTeam'][i] == 'Sevilla':
        AwayValue[i] = 170100000
    elif liga08_n['AwayTeam'][i] == 'Betis':
        AwayValue[i] = 93100000
    elif liga08_n['AwayTeam'][i] == 'La Coruna':
        AwayValue[i] = 62800000
    elif liga08_n['AwayTeam'][i] == 'Real Madrid':
        AwayValue[i] = 361300000
    elif liga08_n['AwayTeam'][i] == 'Barcelona':
        AwayValue[i] = 367300000
    elif liga08_n['AwayTeam'][i] == 'Getafe':
        AwayValue[i] = 62700000
    elif liga08_n['AwayTeam'][i] == 'Santander':
        AwayValue[i] = 66900000
    elif liga08_n['AwayTeam'][i] == 'Recreativo':
        AwayValue[i] = 46680000
    elif liga08_n['AwayTeam'][i] == 'Almeria':
        AwayValue[i] = 59350000
    elif liga08_n['AwayTeam'][i] == 'Sp Gijon':
        AwayValue[i] = 19700000
    elif liga08_n['AwayTeam'][i] == 'Villarreal':
        AwayValue[i] = 131300000

liga08_n.insert(4, "AwayValue", AwayValue) # Execute

In [92]:
liga08_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,AwayValue,B365H,B365D,B365A,BWH,BWD,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,30/08/08,Espanol,111700000,Valladolid,44400000,2.00,3.30,3.80,1.80,3.25,...,3.2,4.30,1.90,3.25,3.50,1.83,3.20,3.75,D,H
1,30/08/08,Valencia,19850000,Mallorca,64700000,1.70,3.60,5.25,1.65,3.35,...,3.3,4.50,1.65,3.40,4.50,1.67,3.30,4.50,H,H
2,31/08/08,Ath Bilbao,59900000,Almeria,59350000,2.00,3.30,3.80,1.90,3.20,...,3.0,3.60,1.90,3.20,3.60,1.91,3.20,3.50,A,A
3,31/08/08,Ath Madrid,19380000,Malaga,39650000,1.44,4.20,7.50,1.40,3.80,...,3.6,7.00,1.45,3.75,7.00,1.40,3.75,7.00,H,H
4,31/08/08,Betis,93100000,Recreativo,46680000,2.00,3.25,3.80,1.75,3.30,...,3.1,3.80,1.75,3.25,4.35,1.80,3.25,3.80,A,A
5,31/08/08,La Coruna,62800000,Real Madrid,361300000,3.50,3.30,2.10,3.90,3.25,...,3.1,2.10,3.25,3.25,2.00,3.30,3.25,1.95,H,H
6,31/08/08,Numancia,28600000,Barcelona,367300000,7.00,4.00,1.50,6.45,3.55,...,3.6,1.50,7.00,3.75,1.45,7.00,3.75,1.40,H,H
7,31/08/08,Osasuna,67850000,Villarreal,131300000,2.80,3.30,2.50,2.90,3.25,...,3.1,2.30,2.90,3.20,2.25,2.62,3.20,2.30,D,D
8,31/08/08,Santander,66900000,Sevilla,170100000,2.80,3.30,2.50,2.65,3.25,...,3.1,2.55,2.70,3.10,2.40,2.75,3.20,2.25,D,D
9,31/08/08,Sp Gijon,19700000,Getafe,62700000,2.62,3.30,2.62,2.60,3.15,...,3.0,2.80,2.50,3.10,2.65,2.40,3.10,2.60,D,A
10,13/09/08,Barcelona,367300000,Santander,66900000,1.29,5.00,12.00,1.28,4.40,...,4.6,9.00,1.29,5.00,9.00,1.29,4.50,8.00,D,D

# LIGA 09

In [85]:
liga09_n.head(11)

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,29/08/09,Real Madrid,La Coruna,1.25,5.50,13.00,1.20,5.75,10.50,1.25,5.00,12.00,1.25,5.00,10.0,1.20,5.00,11.00,H,H
1,29/08/09,Zaragoza,Tenerife,1.91,3.40,4.20,1.85,3.35,3.80,1.90,3.30,3.90,1.80,3.30,4.0,1.80,3.25,3.80,D,H
2,30/08/09,Almeria,Valladolid,2.10,3.30,3.50,2.15,3.25,3.05,1.90,3.30,3.90,2.10,3.20,3.2,2.05,3.20,3.10,D,D
3,30/08/09,Ath Bilbao,Espanol,2.10,3.30,3.50,2.20,3.25,2.95,2.15,3.25,3.25,2.10,3.20,3.2,2.15,3.20,2.90,D,H
4,30/08/09,Malaga,Ath Madrid,3.40,3.40,2.10,3.30,3.35,2.00,3.20,3.20,2.20,3.20,3.20,2.1,3.10,3.20,2.05,H,H
5,30/08/09,Mallorca,Xerez,1.91,3.40,4.33,1.75,3.45,4.15,1.80,3.40,4.30,1.73,3.40,4.5,1.73,3.40,4.00,D,H
6,30/08/09,Osasuna,Villarreal,2.88,3.20,2.50,2.75,3.20,2.35,2.70,3.20,2.50,2.70,3.20,2.4,2.50,3.25,2.40,D,D
7,30/08/09,Santander,Getafe,2.15,3.30,3.40,2.05,3.25,3.25,2.10,3.25,3.40,1.90,3.25,3.6,2.00,3.20,3.20,A,A
8,30/08/09,Valencia,Sevilla,2.25,3.30,3.20,2.25,3.20,2.90,2.15,3.25,3.25,2.20,3.20,3.0,2.20,3.20,2.80,D,H
9,31/08/09,Barcelona,Sp Gijon,1.17,8.00,13.00,1.12,7.50,13.00,1.17,6.00,15.00,1.14,6.50,15.0,1.12,6.00,15.00,H,H
10,12/09/09,Ath Madrid,Santander,1.44,4.33,7.00,1.40,4.00,7.25,1.40,4.50,7.00,1.40,4.00,7.0,1.44,3.75,6.00,D,D

# HOME 09

In [93]:
HomeValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2009
for i in range(len(liga09_n)):
    if liga09_n['HomeTeam'][i] == 'Malaga':
        HomeValue[i] = 60800000
    elif liga09_n['HomeTeam'][i] == 'Ath Bilbao':
        HomeValue[i] = 76350000
    elif liga09_n['HomeTeam'][i] == 'Valencia':
        HomeValue[i] = 213800000
    elif liga09_n['HomeTeam'][i] == 'Ath Madrid':
        HomeValue[i] = 214000000
    elif liga09_n['HomeTeam'][i] == 'Zaragoza':
        HomeValue[i] = 87500000
    elif liga09_n['HomeTeam'][i] == 'Tenerife':
        HomeValue[i] = 21600000
    elif liga09_n['HomeTeam'][i] == 'Espanol':
        HomeValue[i] = 73700000
    elif liga09_n['HomeTeam'][i] == 'Mallorca':
        HomeValue[i] = 51100000
    elif liga09_n['HomeTeam'][i] == 'Osasuna':
        HomeValue[i] = 54800000
    elif liga09_n['HomeTeam'][i] == 'Sevilla':
        HomeValue[i] = 213800000
    elif liga09_n['HomeTeam'][i] == 'Valladolid':
        HomeValue[i] = 49900000
    elif liga09_n['HomeTeam'][i] == 'La Coruna':
        HomeValue[i] = 62500000
    elif liga09_n['HomeTeam'][i] == 'Real Madrid':
        HomeValue[i] = 489400000
    elif liga09_n['HomeTeam'][i] == 'Barcelona':
        HomeValue[i] = 425500000
    elif liga09_n['HomeTeam'][i] == 'Getafe':
        HomeValue[i] = 73500000
    elif liga09_n['HomeTeam'][i] == 'Santander':
        HomeValue[i] = 78700000
    elif liga09_n['HomeTeam'][i] == 'Xerez':
        HomeValue[i] = 32500000
    elif liga09_n['HomeTeam'][i] == 'Almeria':
        HomeValue[i] = 64400000
    elif liga09_n['HomeTeam'][i] == 'Sp Gijon':
        HomeValue[i] = 42700000
    elif liga09_n['HomeTeam'][i] == 'Villarreal':
        HomeValue[i] = 166700000

liga09_n.insert(2, "HomeValue", HomeValue) # Execute

In [94]:
liga09_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,29/08/09,Real Madrid,489400000,La Coruna,1.25,5.50,13.00,1.20,5.75,10.50,...,5.00,12.00,1.25,5.00,10.0,1.20,5.00,11.00,H,H
1,29/08/09,Zaragoza,87500000,Tenerife,1.91,3.40,4.20,1.85,3.35,3.80,...,3.30,3.90,1.80,3.30,4.0,1.80,3.25,3.80,D,H
2,30/08/09,Almeria,64400000,Valladolid,2.10,3.30,3.50,2.15,3.25,3.05,...,3.30,3.90,2.10,3.20,3.2,2.05,3.20,3.10,D,D
3,30/08/09,Ath Bilbao,76350000,Espanol,2.10,3.30,3.50,2.20,3.25,2.95,...,3.25,3.25,2.10,3.20,3.2,2.15,3.20,2.90,D,H
4,30/08/09,Malaga,60800000,Ath Madrid,3.40,3.40,2.10,3.30,3.35,2.00,...,3.20,2.20,3.20,3.20,2.1,3.10,3.20,2.05,H,H
5,30/08/09,Mallorca,51100000,Xerez,1.91,3.40,4.33,1.75,3.45,4.15,...,3.40,4.30,1.73,3.40,4.5,1.73,3.40,4.00,D,H
6,30/08/09,Osasuna,54800000,Villarreal,2.88,3.20,2.50,2.75,3.20,2.35,...,3.20,2.50,2.70,3.20,2.4,2.50,3.25,2.40,D,D
7,30/08/09,Santander,78700000,Getafe,2.15,3.30,3.40,2.05,3.25,3.25,...,3.25,3.40,1.90,3.25,3.6,2.00,3.20,3.20,A,A
8,30/08/09,Valencia,213800000,Sevilla,2.25,3.30,3.20,2.25,3.20,2.90,...,3.25,3.25,2.20,3.20,3.0,2.20,3.20,2.80,D,H
9,31/08/09,Barcelona,425500000,Sp Gijon,1.17,8.00,13.00,1.12,7.50,13.00,...,6.00,15.00,1.14,6.50,15.0,1.12,6.00,15.00,H,H
10,12/09/09,Ath Madrid,214000000,Santander,1.44,4.33,7.00,1.40,4.00,7.25,...,4.50,7.00,1.40,4.00,7.0,1.44,3.75,6.00,D,D

# AWAY 09

In [95]:
AwayValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2009
for i in range(len(liga09_n)):
    if liga09_n['AwayTeam'][i] == 'Malaga':
        AwayValue[i] = 60800000
    elif liga09_n['AwayTeam'][i] == 'Ath Bilbao':
        AwayValue[i] = 76350000
    elif liga09_n['AwayTeam'][i] == 'Valencia':
        AwayValue[i] = 213800000
    elif liga09_n['AwayTeam'][i] == 'Ath Madrid':
        AwayValue[i] = 214000000
    elif liga09_n['AwayTeam'][i] == 'Zaragoza':
        AwayValue[i] = 87500000
    elif liga09_n['AwayTeam'][i] == 'Tenerife':
        AwayValue[i] = 21600000
    elif liga09_n['AwayTeam'][i] == 'Espanol':
        AwayValue[i] = 73700000
    elif liga09_n['AwayTeam'][i] == 'Mallorca':
        AwayValue[i] = 51100000
    elif liga09_n['AwayTeam'][i] == 'Osasuna':
        AwayValue[i] = 54800000
    elif liga09_n['AwayTeam'][i] == 'Sevilla':
        AwayValue[i] = 213800000
    elif liga09_n['AwayTeam'][i] == 'Valladolid':
        AwayValue[i] = 49900000
    elif liga09_n['AwayTeam'][i] == 'La Coruna':
        AwayValue[i] = 62500000
    elif liga09_n['AwayTeam'][i] == 'Real Madrid':
        AwayValue[i] = 489400000
    elif liga09_n['AwayTeam'][i] == 'Barcelona':
        AwayValue[i] = 425500000
    elif liga09_n['AwayTeam'][i] == 'Getafe':
        AwayValue[i] = 73500000
    elif liga09_n['AwayTeam'][i] == 'Santander':
        AwayValue[i] = 78700000
    elif liga09_n['AwayTeam'][i] == 'Xerez':
        AwayValue[i] = 32500000
    elif liga09_n['AwayTeam'][i] == 'Almeria':
        AwayValue[i] = 64400000
    elif liga09_n['AwayTeam'][i] == 'Sp Gijon':
        AwayValue[i] = 42700000
    elif liga09_n['AwayTeam'][i] == 'Villarreal':
        AwayValue[i] = 166700000

liga09_n.insert(4, "AwayValue", AwayValue) # Execute

In [96]:
liga09_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,AwayValue,B365H,B365D,B365A,BWH,BWD,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,29/08/09,Real Madrid,489400000,La Coruna,62500000,1.25,5.50,13.00,1.20,5.75,...,5.00,12.00,1.25,5.00,10.0,1.20,5.00,11.00,H,H
1,29/08/09,Zaragoza,87500000,Tenerife,21600000,1.91,3.40,4.20,1.85,3.35,...,3.30,3.90,1.80,3.30,4.0,1.80,3.25,3.80,D,H
2,30/08/09,Almeria,64400000,Valladolid,49900000,2.10,3.30,3.50,2.15,3.25,...,3.30,3.90,2.10,3.20,3.2,2.05,3.20,3.10,D,D
3,30/08/09,Ath Bilbao,76350000,Espanol,73700000,2.10,3.30,3.50,2.20,3.25,...,3.25,3.25,2.10,3.20,3.2,2.15,3.20,2.90,D,H
4,30/08/09,Malaga,60800000,Ath Madrid,214000000,3.40,3.40,2.10,3.30,3.35,...,3.20,2.20,3.20,3.20,2.1,3.10,3.20,2.05,H,H
5,30/08/09,Mallorca,51100000,Xerez,32500000,1.91,3.40,4.33,1.75,3.45,...,3.40,4.30,1.73,3.40,4.5,1.73,3.40,4.00,D,H
6,30/08/09,Osasuna,54800000,Villarreal,166700000,2.88,3.20,2.50,2.75,3.20,...,3.20,2.50,2.70,3.20,2.4,2.50,3.25,2.40,D,D
7,30/08/09,Santander,78700000,Getafe,73500000,2.15,3.30,3.40,2.05,3.25,...,3.25,3.40,1.90,3.25,3.6,2.00,3.20,3.20,A,A
8,30/08/09,Valencia,213800000,Sevilla,213800000,2.25,3.30,3.20,2.25,3.20,...,3.25,3.25,2.20,3.20,3.0,2.20,3.20,2.80,D,H
9,31/08/09,Barcelona,425500000,Sp Gijon,42700000,1.17,8.00,13.00,1.12,7.50,...,6.00,15.00,1.14,6.50,15.0,1.12,6.00,15.00,H,H
10,12/09/09,Ath Madrid,214000000,Santander,78700000,1.44,4.33,7.00,1.40,4.00,...,4.50,7.00,1.40,4.00,7.0,1.44,3.75,6.00,D,D

# LIGA 10

In [97]:
liga10_n.head(11)

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,28/08/10,Hercules,Ath Bilbao,2.50,3.25,2.80,2.55,3.20,2.65,2.60,3.1,2.50,2.50,3.12,2.75,2.50,3.20,2.60,D,A
1,28/08/10,Levante,Sevilla,3.60,3.50,2.00,3.90,3.30,1.91,3.10,3.3,2.10,3.75,3.30,1.95,3.40,3.30,2.00,A,A
2,28/08/10,Malaga,Valencia,2.88,3.30,2.40,2.85,3.30,2.35,2.70,3.2,2.40,2.88,3.20,2.40,2.90,3.25,2.25,D,A
3,29/08/10,Espanol,Getafe,2.10,3.30,3.50,2.15,3.25,3.25,2.00,3.2,3.40,2.10,3.20,3.50,2.10,3.25,3.25,H,H
4,29/08/10,La Coruna,Zaragoza,2.10,3.30,3.50,2.05,3.25,3.50,2.00,3.2,3.40,2.05,3.25,3.50,1.91,3.30,3.75,D,D
5,29/08/10,Mallorca,Real Madrid,8.00,4.75,1.36,7.00,4.40,1.40,7.00,4.1,1.40,7.50,4.75,1.36,7.00,4.40,1.40,D,D
6,29/08/10,Osasuna,Almeria,2.00,3.40,3.75,2.00,3.30,3.55,2.00,3.2,3.40,2.00,3.25,3.60,1.95,3.25,3.60,D,D
7,29/08/10,Santander,Barcelona,15.00,6.00,1.20,12.50,6.00,1.20,9.00,5.0,1.27,15.00,6.50,1.20,11.00,5.50,1.22,A,A
8,29/08/10,Sociedad,Villarreal,3.00,3.25,2.38,2.85,3.25,2.35,2.70,3.2,2.40,3.00,3.10,2.38,2.70,3.20,2.40,D,H
9,30/08/10,Ath Madrid,Sp Gijon,1.53,4.00,6.00,1.53,3.80,6.00,1.50,3.8,5.70,1.53,3.80,6.00,1.50,3.80,6.00,H,H
10,11/09/10,Ath Bilbao,Ath Madrid,3.00,3.25,2.38,3.10,3.30,2.20,2.75,3.3,2.30,3.10,3.30,2.38,2.75,3.20,2.38,A,A

In [98]:
HomeValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2010
for i in range(len(liga10_n)):
    if liga10_n['HomeTeam'][i] == 'Malaga':
        HomeValue[i] = 82600000
    elif liga10_n['HomeTeam'][i] == 'Ath Bilbao':
        HomeValue[i] = 98300000
    elif liga10_n['HomeTeam'][i] == 'Valencia':
        HomeValue[i] = 178100000
    elif liga10_n['HomeTeam'][i] == 'Ath Madrid':
        HomeValue[i] = 196600000
    elif liga10_n['HomeTeam'][i] == 'Zaragoza':
        HomeValue[i] = 67000000
    elif liga10_n['HomeTeam'][i] == 'Sociedad':
        HomeValue[i] = 43500000
    elif liga10_n['HomeTeam'][i] == 'Espanol':
        HomeValue[i] = 61100000
    elif liga10_n['HomeTeam'][i] == 'Mallorca':
        HomeValue[i] = 54230000
    elif liga10_n['HomeTeam'][i] == 'Osasuna':
        HomeValue[i] = 66550000
    elif liga10_n['HomeTeam'][i] == 'Sevilla':
        HomeValue[i] = 225150000
    elif liga10_n['HomeTeam'][i] == 'Levante':
        HomeValue[i] = 27300000
    elif liga10_n['HomeTeam'][i] == 'La Coruna':
        HomeValue[i] = 74350000
    elif liga10_n['HomeTeam'][i] == 'Real Madrid':
        HomeValue[i] = 506900000
    elif liga10_n['HomeTeam'][i] == 'Barcelona':
        HomeValue[i] = 561100000
    elif liga10_n['HomeTeam'][i] == 'Getafe':
        HomeValue[i] = 686000000
    elif liga10_n['HomeTeam'][i] == 'Santander':
        HomeValue[i] = 62350000
    elif liga10_n['HomeTeam'][i] == 'Hercules':
        HomeValue[i] = 61550000
    elif liga10_n['HomeTeam'][i] == 'Almeria':
        HomeValue[i] = 64350000
    elif liga10_n['HomeTeam'][i] == 'Sp Gijon':
        HomeValue[i] = 57600000
    elif liga10_n['HomeTeam'][i] == 'Villarreal':
        HomeValue[i] = 145100000

liga10_n.insert(2, "HomeValue", HomeValue) # Execute

In [99]:
liga10_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,28/08/10,Hercules,61550000,Ath Bilbao,2.50,3.25,2.80,2.55,3.20,2.65,...,3.1,2.50,2.50,3.12,2.75,2.50,3.20,2.60,D,A
1,28/08/10,Levante,27300000,Sevilla,3.60,3.50,2.00,3.90,3.30,1.91,...,3.3,2.10,3.75,3.30,1.95,3.40,3.30,2.00,A,A
2,28/08/10,Malaga,82600000,Valencia,2.88,3.30,2.40,2.85,3.30,2.35,...,3.2,2.40,2.88,3.20,2.40,2.90,3.25,2.25,D,A
3,29/08/10,Espanol,61100000,Getafe,2.10,3.30,3.50,2.15,3.25,3.25,...,3.2,3.40,2.10,3.20,3.50,2.10,3.25,3.25,H,H
4,29/08/10,La Coruna,74350000,Zaragoza,2.10,3.30,3.50,2.05,3.25,3.50,...,3.2,3.40,2.05,3.25,3.50,1.91,3.30,3.75,D,D
5,29/08/10,Mallorca,54230000,Real Madrid,8.00,4.75,1.36,7.00,4.40,1.40,...,4.1,1.40,7.50,4.75,1.36,7.00,4.40,1.40,D,D
6,29/08/10,Osasuna,66550000,Almeria,2.00,3.40,3.75,2.00,3.30,3.55,...,3.2,3.40,2.00,3.25,3.60,1.95,3.25,3.60,D,D
7,29/08/10,Santander,62350000,Barcelona,15.00,6.00,1.20,12.50,6.00,1.20,...,5.0,1.27,15.00,6.50,1.20,11.00,5.50,1.22,A,A
8,29/08/10,Sociedad,43500000,Villarreal,3.00,3.25,2.38,2.85,3.25,2.35,...,3.2,2.40,3.00,3.10,2.38,2.70,3.20,2.40,D,H
9,30/08/10,Ath Madrid,196600000,Sp Gijon,1.53,4.00,6.00,1.53,3.80,6.00,...,3.8,5.70,1.53,3.80,6.00,1.50,3.80,6.00,H,H
10,11/09/10,Ath Bilbao,98300000,Ath Madrid,3.00,3.25,2.38,3.10,3.30,2.20,...,3.3,2.30,3.10,3.30,2.38,2.75,3.20,2.38,A,A

In [100]:
AwayValue = pd.Series([]) # Create Serie to add market value team

#Market Value Teams 2010
for i in range(len(liga10_n)):
    if liga10_n['AwayTeam'][i] == 'Malaga':
        AwayValue[i] = 82600000
    elif liga10_n['AwayTeam'][i] == 'Ath Bilbao':
        AwayValue[i] = 98300000
    elif liga10_n['AwayTeam'][i] == 'Valencia':
        AwayValue[i] = 178100000
    elif liga10_n['AwayTeam'][i] == 'Ath Madrid':
        AwayValue[i] = 196600000
    elif liga10_n['AwayTeam'][i] == 'Zaragoza':
        AwayValue[i] = 67000000
    elif liga10_n['AwayTeam'][i] == 'Sociedad':
        AwayValue[i] = 43500000
    elif liga10_n['AwayTeam'][i] == 'Espanol':
        AwayValue[i] = 61100000
    elif liga10_n['AwayTeam'][i] == 'Mallorca':
        AwayValue[i] = 54230000
    elif liga10_n['AwayTeam'][i] == 'Osasuna':
        AwayValue[i] = 66550000
    elif liga10_n['AwayTeam'][i] == 'Sevilla':
        AwayValue[i] = 225150000
    elif liga10_n['AwayTeam'][i] == 'Levante':
        AwayValue[i] = 27300000
    elif liga10_n['AwayTeam'][i] == 'La Coruna':
        AwayValue[i] = 74350000
    elif liga10_n['AwayTeam'][i] == 'Real Madrid':
        AwayValue[i] = 506900000
    elif liga10_n['AwayTeam'][i] == 'Barcelona':
        AwayValue[i] = 561100000
    elif liga10_n['AwayTeam'][i] == 'Getafe':
        AwayValue[i] = 686000000
    elif liga10_n['AwayTeam'][i] == 'Santander':
        AwayValue[i] = 62350000
    elif liga10_n['AwayTeam'][i] == 'Hercules':
        AwayValue[i] = 61550000
    elif liga10_n['AwayTeam'][i] == 'Almeria':
        AwayValue[i] = 64350000
    elif liga10_n['AwayTeam'][i] == 'Sp Gijon':
        AwayValue[i] = 57600000
    elif liga10_n['AwayTeam'][i] == 'Villarreal':
        AwayValue[i] = 145100000

liga10_n.insert(4, "AwayValue", AwayValue) # Execute

In [101]:
liga10_n.head(11)

,Date,HomeTeam,HomeValue,AwayTeam,AwayValue,B365H,B365D,B365A,BWH,BWD,...,IWD,IWA,VCH,VCD,VCA,WHH,WHD,WHA,HTR,FTR
0,28/08/10,Hercules,61550000,Ath Bilbao,98300000,2.50,3.25,2.80,2.55,3.20,...,3.1,2.50,2.50,3.12,2.75,2.50,3.20,2.60,D,A
1,28/08/10,Levante,27300000,Sevilla,225150000,3.60,3.50,2.00,3.90,3.30,...,3.3,2.10,3.75,3.30,1.95,3.40,3.30,2.00,A,A
2,28/08/10,Malaga,82600000,Valencia,178100000,2.88,3.30,2.40,2.85,3.30,...,3.2,2.40,2.88,3.20,2.40,2.90,3.25,2.25,D,A
3,29/08/10,Espanol,61100000,Getafe,686000000,2.10,3.30,3.50,2.15,3.25,...,3.2,3.40,2.10,3.20,3.50,2.10,3.25,3.25,H,H
4,29/08/10,La Coruna,74350000,Zaragoza,67000000,2.10,3.30,3.50,2.05,3.25,...,3.2,3.40,2.05,3.25,3.50,1.91,3.30,3.75,D,D
5,29/08/10,Mallorca,54230000,Real Madrid,506900000,8.00,4.75,1.36,7.00,4.40,...,4.1,1.40,7.50,4.75,1.36,7.00,4.40,1.40,D,D
6,29/08/10,Osasuna,66550000,Almeria,64350000,2.00,3.40,3.75,2.00,3.30,...,3.2,3.40,2.00,3.25,3.60,1.95,3.25,3.60,D,D
7,29/08/10,Santander,62350000,Barcelona,561100000,15.00,6.00,1.20,12.50,6.00,...,5.0,1.27,15.00,6.50,1.20,11.00,5.50,1.22,A,A
8,29/08/10,Sociedad,43500000,Villarreal,145100000,3.00,3.25,2.38,2.85,3.25,...,3.2,2.40,3.00,3.10,2.38,2.70,3.20,2.40,D,H
9,30/08/10,Ath Madrid,196600000,Sp Gijon,57600000,1.53,4.00,6.00,1.53,3.80,...,3.8,5.70,1.53,3.80,6.00,1.50,3.80,6.00,H,H
10,11/09/10,Ath Bilbao,98300000,Ath Madrid,196600000,3.00,3.25,2.38,3.10,3.30,...,3.3,2.30,3.10,3.30,2.38,2.75,3.20,2.38,A,A

In [ ]:
ligas05_18 = [liga05_n, liga06_n, liga07_n, liga08_n, liga09_n, liga10_n, liga11_n, liga12_n, liga13_n, liga14_n, liga15_n, liga16_n, liga17_n, liga18_n]

big_liga = pd.concat(ligas05_18)

In [ ]:
big_liga.dropna(inplace=True)

In [ ]:
big_liga.head()

In [ ]:
big_liga.to_csv(r'big_liga.csv')

In [ ]:
#engine = create_engine('sqlite://', echo=False)
#big_liga.to_sql('big_liga_sql', con=engine)
#engine.execute("SELECT * FROM big_liga_sql").fetchall()

In [ ]:
big_liga['HomeValue'] = 0

In [ ]:
big_liga.info()